h1 {font-size: 33px; margin-top: 0; padding-top: 50px;}
.post-header h1 {padding-top: 0;}
.post-header {padding-top: 40px;}
h2 {font-size: 25px; margin-top: 0; padding-top: 50px;}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

section {
  float: left;
  margin: 0 1.5%;
  width: 20%;
}
aside {
  float: right;
  margin: 0 1.5%;
  width: 75%;
}

