h1 {font-size: 33px; margin-top: 0; padding-top: 50px;}
.post-header h1 {padding-top: 0;}
.post-header {padding-top: 40px;}
h2 {font-size: 25px; margin-top: 0; padding-top: 50px;}
section {
  float: left;
  margin: 0 1.5%;
  width: 19%;
}
aside {
  float: right;
  margin: 0 1.5%;
  width: 80%;
}

