
<script>

function lunr_search(term) {
  document.getElementById('lunrsearchresults').innerHTML = '<ul></ul>';
  if(term){
  
  document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = "<li class='lunrsearchresult'>3No results found...</li>";

}
  else{
    
    document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = "<li class='lunrsearchresult'>2No results found...</li>";
  }
    return false;
}
</script>


<form onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
    <p><input type="text" class="form-control" id="lunrsearch" name="q" maxlength="255" value="" placeholder="Search via Lunr.js" /></p>
</form>
jojo
<div id="lunrsearchresults">
    <ul></ul>
</div>
