<script src="/js/lunr.js"></script>

<script>
var result;
function lunr_search(term) {
  var idx = lunr(function () {
  this.field('title')
  this.field('body')

  this.add({
    "title": "Twelfth-Night",
    "body": "If music be the food of love, play on: Give me excess of it…",
    "author": "William Shakespeare",
    "id": "1"
  })
})
  document.getElementById('lunrsearchresults').innerHTML = '<ul></ul>';
  if(term){
  document.getElementById('lunrsearchresults').innerHTML = "<p>Search results for '" + term + "'</p>" + document.getElementById('lunrsearchresults').innerHTML;

}
  else{
    
    document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = "<li class='lunrsearchresult'>2No results found...</li>";
  }
    return false;
}
</script>


<form onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
    <p><input type="text" class="form-control" id="lunrsearch" name="q" maxlength="255" value="" placeholder="Search via Lunr.js" /></p>
</form>
jojo8
<div id="lunrsearchresults">
    <ul></ul>
</div>
